---
import { slugifyStr } from "@/utils/slugify";
import IconWww from "@/assets/icons/IconWww.svg";

const { data } = Astro.props;

const { title, description, author, authorWebsite, resourceUrl } =
  data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class:
    "text-lg font-medium decoration-dashed hover:underline flex items-center gap-2",
};

const subHeaderProps = {
  class: "text-sm text-muted-foreground flex items-center gap-2",
};
---

<li class="my-6">
  <a
    href={resourceUrl}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h3 {...headerProps}>
      <IconWww />
      {title}
    </h3>
  </a>
  <div {...subHeaderProps}>
    by <a
      class="decoration-dashed hover:underline"
      href={authorWebsite}
      target="_blank"
      rel="noopener noreferrer">{author}</a>
  </div>
  <p style="mt-1">{description}</p>
</li>
